<link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded" rel="stylesheet">

<nav>
    <div class="container">
        <h2 class="logo">
            Harmony
        </h2>
        <div class="search-bar">
            <span class="material-symbols-rounded">
                search
            </span>
            <input type="search" placeholder="Search">
        </div>
        <div class="create">
            <label class="btn btn-primary" for="create-post">Create</label>
            <div class="profile-picture">
                <img class="logo-image" src="../images/profile-1.jpg" alt="Image">
            </div>
        </div>
    </div>
</nav>